.sidenav {
    background-color: #2F4050;
    width: 15%;
}

.sidenav a {
    color: azure;
}

.sidenav a:hover {
    background-color: #283847;
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 15px;
    background-color: #FFF;
}

.mat-form-field + .mat-form-field {
    margin-left: 8px;
}

.menu-perfil {
    background-color: #2F4050 !important;
    margin-left: -10px !important;
}

.menu-perfil .menu-perfil-item {
    color: azure !important;
}

.menu-perfil mat-expansion-panel-header:hover {
    background-color: #283847 !important;
}

.menu-perfil p {
    padding-top: 15px !important;
}

.menu-perfil p a {
    text-decoration: none !important;
}